<div id="about-me" class="grid_5">
    <h1 class="rubberband">Hi,</h1>
    <h1 class="rubberband">I'm <span>Vishal</span>,</h1>
    <p>Full Stack Engineer.</p>
</div>
<div class="terminal-container grid_7">
    <nav id="menu"></nav>
    <div class="terminal-widow">
    <output></output>
    <div id="input-line" class="input-line">
        <div class="prompt"></div><div><input class="cmdline" autofocus /></div>
    </div>
    </div>
</div>