<ul>
  <li class="dropdown">
    <span class="dropbtn">
        File
        <i class="fa fa-caret-down"></i>
    </span>
    <div class="dropdown-content">
        <a href="#">Resume as PDF</a>
        <a href="#">Resume as Doc</a>
        <a href="#">Resume as JSON</a>
    </div>
  </li>
  <li class="dropdown">
    <span class="dropbtn">
        View
        <i class="fa fa-caret-down"></i>
    </span>
    <div class="dropdown-content">
        <a href="javascript:void(0)" onclick="renderView('works')">Works</a>
        <a href="javascript:void(0)" onclick="renderView('project')">Projects</a>
        <a href="javascript:void(0)" onclick="renderView('skills')">Skills</a>
        <a href="javascript:void(0)" onclick="renderView('education')">Education</a>
    </div>
  </li>
  <li class="dropdown">
    <span class="dropbtn">
        Help
        <i class="fa fa-caret-down"></i>
    </span>
    <div class="dropdown-content">
        <a href="#">About</a>
        <a href="#"></a>
        <a href="#"></a>
    </div>
  </li>
</ul>